/* 通用样式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', Arial, sans-serif;
}

/* 页面主体样式 */
body {
    background-color: #008080; /* 青色背景 */
}

/* 卡片样式 */
.card {
    background-color: #c0c0c0; /* 灰色卡片界面 */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    position: relative;
}

.card h1,
.card h2,
.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card img {
    max-width: 1000px; /* 图片最大宽度为1000px */
    height: auto; /* 保持图片比例 */
    display: block; /* 防止图片之间出现空隙 */
    margin-bottom: 10px;
}

/* Win95 风格 */
.win95-box {
    border: 1px solid #000;
    background-color: #c0c0c0;
    padding: 10px;
    margin: 20px;
}

/* 导航栏 */
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #c0c0c0; /* 灰色背景 */
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #008080; /* 青色按钮 */
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

/* 媒体查询 - 适配移动端 */
@media screen and (max-width: 600px) {
    .card,
    .sidebar {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
}
